<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Registrered</title>
</head>
<body>
    <div>
        <p>
            Se ha creado un nuevo usuario de acceso para {NombreyApellido}.
            Para ingresar, utilice las siguientes credenciales. Una vez que realices el primer ingreso podrás actualizar la contraseña.
            <ul>
                <li>
                    <label>Usuario: </label>
                    {Nombre_de_usuario}
                </li>
                <li>
                    <label>Password: </label>
                    {Contrasena}
                </li>
            </ul>
            Saludos.
        </p>
        <p>
            <span>El equipo de moovingtech</span>
        </p>

    </div>
</body>
</html>